.searchbar-container {
  position: relative;
  border-radius: 5rem;
}

input {
  width: 100%;
  padding: 0.5rem 3.5rem;
  border: 1px solid white;
}

.icon-container {
  position: absolute;
  top: 55%;
  left: 1.5%;
  transform: translateY(-50%);
}

input::placeholder,
input {
  font-size: 1rem;
}

input:focus,
.searchbar-container:hover {
  outline: 2px solid #3478cc;
}
