ul {
  background-color: var(--white);
  padding: 0;
  margin: 0;
}

.loading-suggestion-list {
  padding: 20px 10px 20px 10px;
}

.loading-suggestion-list li {
  background-color: var(--whitesmoke);
}
