ul {
  background-color: var(--white);
  padding: 0;
  margin: 0;
}

.loading-suggestion-list {
  padding: 1.25rem 0.625rem 1.25rem 0.625rem;
}

.loading-suggestion-list li {
  background-color: var(--whitesmoke);
}
